#root {
  max-width: 1280px;
  justify-content: center;
  height: 100vh;
  padding: 1rem;
  width: 100%;
}

/* NAVBAR Path: src/components/Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}




/* PokemonDisplay Path: src/components/PokemonDisplay */
.pokemon-card {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  padding: 4rem 10rem;
  border-radius: 2rem;
  box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.144);
  background-color: #fff;
  width: 100%;
  margin-bottom: 4rem;
}

.pokemon-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 1.8rem;
  
}