@import url('https://fonts.cdnfonts.com/css/nunito');


:root {
  font-family: 'Nunito',  Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #575757;
  --primary: #575757;
  --grey: #8e8e8ed3;

}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  display: flex;
  min-width: 740px;
  margin: 0 auto;
  padding: 2rem;
  flex-direction: column;
  width: 74%;
  align-items: center;
}

h1 {
  font-size: 4em;
  line-height: 1.1;
}

h3 {
  font-size: 1.1em;
  line-height: 1.1;
}

p {
  color: var(--grey);
}

table  {
  border-collapse: separate; /* Necesario para usar border-spacing */
  border-spacing: 8px; 

      & tr td:first-child {
        width: 100%;
        text-align: right;
        padding-right: 1.8em;
      }
  }


 