@import url('https://fonts.cdnfonts.com/css/nunito');


:root {
  font-family: 'Nunito',  Arial, sans-serif;
  line-height: 1.5;
  color: #575757;
  --primary: #575757;
  --black: #252525;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  display: flex;
  max-width: 80vw;
  margin: 0 auto;
  padding: 2.5rem;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

h1 {
  font-size: 3em;
  line-height: 1.1;
}

h3 {
  font-size: 1em;
  line-height: 1.1;
}